---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
  img: ImageMetadata;
  width: number;
  height: number;
  href: string;
  linkText: string;
}

const { img, width, height, href, linkText } = Astro.props;
---

<div class='selected-projects__list__item'>
  <a class='selected-projects__list__item__img' href='#'>
    <Image src={img} alt='Project' {width} {height} />
  </a>
  <div class='selected-projects__list__item__link'>
    <h2><a {href}>{linkText}</a></h2>
  </div>
</div>
<style>
  .selected-projects__list__item {
    position: relative;
  }

  .selected-projects__list__item:hover {
    filter: grayscale(100%);
    cursor: pointer;
  }

  .selected-projects__list__item__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .selected-projects__list__item__link {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2rem;
    z-index: var(--z-popover: 1070;);
  }

  .selected-projects__list__item__link h2 {
    font-size: 2.5rem;
  }

  .selected-projects__list__item__link a {
    text-decoration: none;
    color: var(--text-color);
  }

  .selected-projects__list__item__link a:hover {
    text-decoration-line: underline;
  }
</style>
