---
import { Image } from 'astro:assets';

interface Props {
  img: string;
  width: number;
  height: number;
  href: string;
  linkText: string;
}

const { img, width, height, href, linkText } = Astro.props;
---

<div class='card'>
  <a class='card__img' {href}>
    <Image src={img} alt='Project' {width} {height} />
  </a>
  <div class='card__link'>
    <h2><a {href}>{linkText}</a></h2>
  </div>
</div>
<style>
  .card {
    position: relative;
  }

  .card:hover {
    filter: grayscale(100%);
    cursor: pointer;
  }

  .card__img img {
    object-fit: cover;
  }

  .card__link {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.6); /* Dark, smooth shadow for blurred borders */
  }

  .card__link h2 {
    font-size: 2rem;
  }

  .card__link a {
    text-decoration: none;
    color: var(--text-color);
  }

  .card__link a:hover {
    text-decoration-line: underline;
  }

  @media (max-width: 768px) {
    .card__link {
      padding: 0.5rem;
    }
    .card__link h2 {
      font-size: 1.5rem;
    }
  }
</style>
