---
import Layout from '../layouts/Layout.astro';
import LightBox from '../components/LightBox.astro';
import type { IProject } from '../models/interfaces';

interface Props {
  project: IProject;
}

const { project } = Astro.props;

const { imageGallery, beforeGallery, title } = project;
---

<Layout title={project.title}>
  <div class={project.headerImage ? 'project-header' : 'project-header-no-photo'}>
    <div class='project-header__title'>
      <h1>{project.title}</h1>
      <p>{project.description}</p>
    </div>
    {
      project.headerImage && (
        <div class='project-header__img'>
          <img src={project.headerImage} alt='profesional profile photo' width='250' />
        </div>
      )
    }
  </div>
  <LightBox {imageGallery} />

  {beforeGallery.length > 0 && (<h2 class='project__subsection-title'>Before</h2>
   <LightBox imageGallery={beforeGallery} />)}
</Layout>
<style>
  .project-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  .project-header-no-photo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
    padding: 0 3rem;
  }

  .project-header-no-photo .project-header__title {
    width: 100%;
  }

  .project-header__title {
    width: 50%;
  }

  .project-header__title h1 {
    margin-bottom: 1rem;
    font-weight: 400;
  }

  .project-header__img img {
    border-top-left-radius: 33%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    height: 300px;
  }

  .project-header p {
    text-align: justify;
  }

  .project__subsection-title {
    margin: 2rem 0;
    font-weight: 400;
    font-size: 2.5rem;
  }

  @media (max-width: 768px) {
    .project-header {
      flex-direction: column;
    }

    .project-header-no-photo {
      padding: 0;
    }
    .project-header__title {
      width: 100%;
    }
  }
</style>
